#landing-page{
    background-image: url(../images/backgroundpizza.jpg);
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;

}
.controls-top{
    display: inline-flex;
}